<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

	<bean class=" com.beans.Address" id="addId">
	<constructor-arg value="123"/>
	<constructor-arg value="goa"/>
	<constructor-arg value="145545"/>
	</bean>
	
	<bean class="com.beans.Student" id="stdId">
	<constructor-arg value="11"/>
	<constructor-arg value="Aniket"/>
	<constructor-arg ref="addId"/>
	</bean>

</beans>